<template>
  <publications class="horizontal layout wrap">
    <paper-card class="flex publications-cards" repeat.for="publi of publications">
      <div class="publications-content">
        <div class="card-content">
          <a class="publications-header" href.bind="publi.url" target="_blank">${publi.title}</a>
          <div class="publications-name">
            ${publi.authors | arrayToString}<br>
          </div>
          <div>
            ${publi.description}
          </div>
        </div>
      </div>
    </paper-card>
  </publications>
</template>
