<template>
  <require from="../ui/converters/converters"></require>
  <personal class="horizontal layout wrap">
    <paper-card class="skills-cards">
      <div class="skills-content">
        <div class="card-content">
          <div class="skills-header">Personal Skills</div>
          <div repeat.for="skill of skills | getKeyValuePair"><span class="skill-name">${skill.key | cc}</span> - ${skill.value | arrayToString}</div>
        </div>
      </div>
    </paper-card>
  </personal>
</template>
